.messageSearchContainer {
    position: relative;
    width: 400px;
    max-width: 400px;
}
    .messageSearchContainer input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    outline: none;
}
    .messageSearchContainer .foundMessagesContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 10; /* Убеждаемся, что список находится поверх других элементов */
}
        .foundMessagesContainer .foundMessagesAmountContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(241,241,241);
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    z-index: 100;
}
            .foundMessagesAmountContainer span {
                color: rgb(182,182,182);
}
            .foundMessagesAmountContainer button {
    all: unset;
    text-decoration: underline;
    color: var(--color-blue-dark);
    cursor: pointer;
}
        .foundMessagesContainer .foundMessagesContentContainer {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
            .foundMessagesContentContainer .foundMessageContainer {
    width: 100%;
    display: flex;
    justify-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    height: fit-content;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
            .foundMessagesContentContainer .foundMessageContainer:last-child {
    border-bottom: none;
}
                .foundMessageContainer .foundMessageSender {
    width: 50px !important; /* Размер круга */
    height: 50px;
    border-radius: 50%; /* Делаем круг */
    background-color: var(--color-blue); /* Цвет фона (можно изменить) */
    color: white; /* Цвет текста */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Делаем буквы заглавными */
    user-select: none; /* Запрещаем выделение текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}
                .foundMessageContainer .foundMessageContentContainer {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 1rem;
}
                    .foundMessageContentContainer .foundMessageHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
                        .foundMessageHeaderContainer h2 {
    font-weight: 700;
}
                        .foundMessageHeaderContainer .foundMessageDate {
    color: rgb(150, 150, 150);
}
                    .foundMessageContentContainer .foundMessageData {
    color: rgb(150, 150, 150);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
                        .foundMessageData img {
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 0.2rem;
}